# SPDX-FileCopyrightText: 2020 Tocqueville Group
#
# SPDX-License-Identifier: LicenseRef-MIT-TQ

# Build tools
## Stack
.stack-work/

## Cabal
dist-newstyle/
.ghc.environment.*
cabal.project.local

# Morley output
db.json

# Mac OS
.DS_Store

# local chain related files
local-chain/node-dir/
local-chain/baker.log
local-chain/node.log
